@{
    ViewBag.Title = "Home Page";
}

<div id="homeID" class="col-md-12" style="width:100%; height:100%; padding:0">
    <img src="~/Images/klementinum.jpg" style="width:100%; height:800px" alt="Library" />
</div>

<div id="aboutID">
    
</div>

<div id="contactID">
    
</div>